*{
    margin: 0;
    padding: 0;
}
a{
    margin-left: 90%;
    margin-top: 100px;
    list-style: none;
    font-size: 1.2em;
    color: black;
    border-radius: 2px ;
    width: 12px;
    padding: 10px;
    cursor: pointer;
    /* border-bottom: 1px solid black; */
}
a:hover{
    /* background-color: grey; */
    color: grey;
}
div{
    font-size: 1.3em;
    padding: 15px;
    text-align: right;
    background: rgb(1,139,211,.9);
    color: white;
}
form{
    text-align: center;
    width: 48%;
    height: 70%;
    margin: 0 auto;
    padding-top: 190px;
    
}
fieldset{
    border-radius: 7px;
}
legend{
    padding: 8px;
    font-size: 40px;
    font-family: fantasy;
}
h1{
    font-size: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="file"]{
    color: rgb(0, 0, 0);
    width: 53%;
    height: 9%;
    font-size: 18px;
}

input[type="submit"]{
    background: rgb(1,139,211);
    border: white;
    color: white;
    width: 90%;
    height: 9%;
    padding: 9px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;

}
input[type="submit"]:hover{
    background: rgb(2, 58, 88);
    color: rgb(228, 227, 227);
}